

/* style header */
.page-header{
    background-color:lightskyblue;
}
.logo{
    width: 200px;
    height: 100px;
}

/* main content */
.main-content{
    max-width: 80%;
    margin:auto;

}
.article h1{
    margin-bottom: 3px;
}
div.article-header{
    margin-bottom:5px;
}
 p.author{
    padding: 0;
    margin: 0;
    color:gray;
}

p.date {
    margin-top:0;
    font-size: small;
    color:gray;
}

p.img-description{
    padding: 0;
    margin: 0;
}

/* article header */
.author{
    font-size: 16px;
}
.author span{
    color:blue;
}
/* article main content */
.article-text span{
    background-color: yellow;
}

/* article list */
.article-list{
    padding-left: 15px;
}
table{
    text-align: left;
}
thead{
    background-color:rgb(127, 166, 251);
    color:white;
}
.first-element .second-element{
    width:25%
}
.third-element{
    width: 50%;
}
tbody{
    background-color:gainsboro;
}
tbody tr:nth-child(even){
    background-color:white;
}
/* footer */
footer{
    background-color:rgb(47, 55, 100) ;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
}
footer p{
    padding: 10px auto;
}