
/* style header */
.page-header{
    background-color:lightskyblue;
}
.logo{
    width: 200px;
    height: 100px;
}

/* article section */

.author{
    font-size: 16px;
}
.author span{
    color:blue;
}


