/* genelar style-settings */
*{
    margin:0;
}
/* style header */
.page-header{
    background-color:lightskyblue;
}
.logo{
    width: 200px;
    height: 100px;
}

/* main content */

/* article header */
.author{
    font-size: 16px;
}
.author span{
    color:blue;
}
/* article main content */
.article-text span{
    background-color: yellow;
}

/* article list */
.article-list{
    padding-left: 15px;
}
table{
    text-align: left;
}
thead{
    background-color:rgb(127, 166, 251);
    color:white;
}
.first-element .second-element{
    width:25%
}
.third-element{
    width: 50%;
}

